.main{
    display: flex;
    justify-content: center;
}
img{
    width: 360px;
    height: 220px;
}

.mk{
    font-weight: bold;
}
th{
    padding: 10px;
    text-align: left;
}
td{
    padding: 13px;
}

